html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: #392c2c;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  background: #f2f6fa;
}
.container {
  width: 964px;
  margin: 0 auto;
}
.title {
  font-size: 32px;
  color: #1a81df;
  font-weight: 800;
  line-height: 39px;
  margin-left: 20px;
  position: relative;
}
.title::before {
  content: '';
  position: absolute;
  top: 0;
  left: -22px;
  content: url(./img/fund_before.png);
}
.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.button {
  background: linear-gradient(to top, #1a81df, #03a9f4);
  outline: none;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .container {
    width: 82%;
    margin: 0 auto;
  }
  .title {
    font-size: 32px;
    line-height: 39px;
    font-weight: 800;
  }
  .title::before {
    content: '';
    position: absolute;
    top: 0;
    left: -22px;
    content: url(./img/fund_before_min.png);
  }
  .text {
    font-size: 16px;
    line-height: 20px;
  }
}
.header {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
}
.header__right-link {
  margin: 2px;
}
.header__logo {
  margin-right: 32px;
  margin-left: 31px;
}
.header__title {
  margin-bottom: 5px;
  color: #1a81df;
  font-size: 36px;
  font-weight: 700;
  line-height: 32.76px;
}
.header__text {
  font-size: 15px;
  font-weight: 700;
  line-height: 18.29px;
  width: 360px;
}
.header__text-min {
  display: none;
}
.header__nav {
  padding: 0;
  margin-top: 10px;
}
.header__wrapper {
  position: relative;
}
.header__menuToggle {
  display: block;
  cursor: pointer;
}
.header__menu {
  display: none;
  position: absolute;
  top: 90px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 100px;
}
.header__menu.is-active {
  display: flex;
  justify-content: space-between;
}
.header__menu li {
  padding: 0 40px;
}
.header__menu-link {
  color: #392c2c;
}
.header__hamburger {
  width: 33.5px;
  height: 4px;
  transform: translate(-50%, -50%);
  background-color: #392c2c;
  border-radius: 5px;
  transition: 0.5s;
  display: inline-block;
  margin-left: 17px;
}
.header__hamburger:before,
.header__hamburger:after {
  content: '';
  width: 33.5px;
  height: 4px;
  position: absolute;
  background-color: #392c2c;
  transition: 0.5s;
}
.header__hamburger:before {
  border-radius: 5px;
  top: -15px;
}
.header__hamburger:after {
  border-radius: 5px;
  top: 15px;
}
.header__menuToggle.is-active .hamburger {
  background: rgba(0, 0, 0, 0);
}
.header__menuToggle.is-active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}
.header__menuToggle.is-active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}
@media (max-width: 600px) {
  .header {
    margin-top: 40px;
    justify-content: start;
  }
  .header__logo {
    width: 75px;
    height: 56px;
    margin-left: 27px;
  }
  .header__title {
    font-size: 28px;
    line-height: 31px;
    width: 133px;
  }
  .header__text {
    display: none;
  }
  .header__text-min {
    display: block;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    width: 224px;
    margin-top: 5px;
    margin-left: 84px;
  }
  .header__right {
    display: none;
  }
  .header__nav {
    margin-top: 8px;
    margin-left: 0px;
  }
  .header__menu {
    top: 125px;
    font-size: 13px;
    font-weight: 600;
    margin-left: 0px;
  }
  .header__menu li {
    padding: 0 5px;
  }
  .header__hamburger {
    margin-left: 20px;
  }
}
.budda {
  width: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
  padding: 38px 70px 0 70px;
  height: 590px;
  background-color: #fed23e;
  box-shadow: 0px 30px 50px rgba(22, 67, 113, 0.17);
  position: relative;
}
.budda__text {
  margin-top: 32px;
  width: 300px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.26px;
}
.budda__img {
  bottom: 0;
  right: 45px;
}
@media (max-width: 600px) {
  .budda {
    margin: 41px auto;
    flex-direction: column;
    padding: 40px 4px 0 0px;
    width: 100%;
    height: 652px;
    overflow: hidden;
  }
  .budda__text {
    font-size: 14px;
    line-height: 17px;
    width: 225px;
    margin-left: 40px;
    margin-top: 7px;
  }
  .budda__img {
    margin-top: 25px;
    width: 100%;
    height: 394px;
  }
}
.fund__title {
  margin-top: 70px;
}
.fund__text {
  margin-top: 40px;
}
.fund__text-2 {
  margin-top: 13px;
}
.fund__director {
  margin-top: 40px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  position: relative;
}
.fund__director::before {
  content: '';
  position: absolute;
  top: 0;
  left: -21px;
  content: url(./img/anatoly_before.png);
}
@media (max-width: 600px) {
  .fund__text {
    margin-top: 34px;
  }
  .fund__director {
    font-size: 14px;
    line-height: 17px;
    margin-top: 31px;
    width: 206px;
    margin-left: 19px;
  }
  .fund__director::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    content: url(./img/anatoly_before_min.png);
  }
}
.lama {
  box-shadow: 0px 30px 50px rgba(22, 67, 113, 0.17);
  display: flex;
  margin-top: 70px;
  background-color: #fff;
  border-radius: 50px;
  position: relative;
}
.lama__img {
  position: absolute;
  top: 41px;
  left: 66px;
}
.lama__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.lama__text-2 {
  margin-top: 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.lama__box {
  margin-top: 96px;
  border-radius: 30px 0 0 30px;
  background-color: #fed23e;
  padding: 70px 12px 40px 32px;
  /* width: 476px; */
  margin-left: 51px;
}

.lama__gaft {
  margin-left: 85px;
  margin-top: 32px;
  position: relative;
  font-size: 18px;
  line-height: 22px;
}
.lama__gaft-2 {
  margin-left: 85px;
  margin-top: 0px;
  font-size: 18px;
  line-height: 22px;
}
.lama__gaft::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -11px;
  content: url(img/gaft__stick.png);
}
.lama__comments {
  position: relative;
  margin-top: 17px;
  font-weight: 400;
  width: 383px;
  font-style: italic;
  font-size: 14px;
  line-height: 17px;
  margin-left: 83px;
}
.lama__comments::before {
  position: absolute;
  content: '';
  top: 0;
  left: -43px;
  content: url(img/quotes-1.png);
}
.lama__comments::after {
  content: '';
  content: url(img/quotes-2.png);
  position: absolute;
  top: 69px;
  right: -36px;
}
.lama__comments-2 {
  position: relative;
  margin-top: 17px;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 17px;
  margin-left: 83px;
}
.lama__comments-2::before {
  position: absolute;
  content: '';
  top: 0;
  left: -40px;
  content: url(img/quotes-1.png);
}
.lama__comments-2::after {
  content: '';
  content: url(img/quotes-2.png);
  position: absolute;
  top: 120px;
  right: 20px;
}
.lama__btn {
  margin-top: 37px;
  margin-left: 217px;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.lama__btn::before {
  content: '';
  position: absolute;
  left: 45px;
  content: url(img/headphones.png);
}
.lama__andgaft {
  height: 100%;
}
.lama__andgaft-min {
  display: none;
}
@media (max-width: 600px) {
  .lama {
    flex-direction: column-reverse;
    width: 100%;
    background-color: #fed23e;
  }
  .lama__text {
    margin-top: 12px;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    letter-spacing: -1px;
  }
  .lama__text-2 {
    text-align: left;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -1px;
  }
  .lama__box {
    margin-top: 130px;
    margin-left: 0;
    width: 100%;
    padding: 40px;
    background-color: inherit;
  }
  .lama__img {
    top: 237px;
    left: 43px;
    width: 228px;
    height: 120px;
  }
  .lama__andgaft {
    display: none;
  }
  .lama__andgaft-min {
    display: block;
    width: 100%;
    /* height: 208px; */
  }
  .lama__gaft {
    display: none;
  }
  .lama__gaft-2 {
    display: none;
  }
  .lama__comments {
    display: none;
  }
  .lama__comments-2 {
    display: none;
  }
  .lama__left {
    text-align: center;
  }
  .lama__btn {
    margin: 10px auto 40px auto;
  }
}
.projects {
  margin-top: 67px;
}
.projects__header {
  display: flex;
  align-items: center;
}
.projects__subtitle {
  font-size: 30px;
  line-height: 36.57px;
  font-weight: 600;
}
.projects__title {
  margin-right: 32px;
}
.projects__text {
  margin-top: 40px;
}
.projects__text-2 {
  margin-top: 13px;
}
.projects__text-3 {
  margin-top: 14px;
}
@media (max-width: 600px) {
  .projects__header {
    flex-direction: column;
  }
  .projects__title {
    margin-right: 22px;
  }
  .projects__subtitle {
    margin-top: 34px;
    font-size: 28px;
    line-height: 34px;
  }
  .projects__text {
    margin-top: 35px;
  }
}

.photo__slider {
  margin-top: 40px;
  position: relative;
}
.photo__img {
  border-radius: 40px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  max-height: 600px !important;
}
.photo__btn-left {
  position: absolute;
  left: 10px;
  top: 280px;
  z-index: 999;
}
.photo__btn-right {
  position: absolute;
  right: 10px;
  top: 280px;
  z-index: 999;
}
@media (max-width: 600px) {
  .photo__img {
    height: 300px !important;
  }
  .photo__btn-left {
    left: 10px;
    top: 130px;
  }
  .photo__btn-right {
    right: 10px;
    top: 130px;
  }
}
.audio {
  margin-top: 66px;
}
.audio__header {
  display: flex;
  align-items: center;
}
.audio__items {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.audio__head-subtitle {
  margin-left: 32px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}
.audio__img {
  position: absolute;
  left: -1px;
  top: 31px;
}
.audio__book {
  width: 300px;
  height: 178px;
}
.audio__box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 300px;
  height: 731px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0px 30px 50px rgba(22, 67, 113, 0.17);
}
.audio__title {
  margin-top: 202px;
  text-align: left;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.26px;
}
.audio__subtitle {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #b1a6a6;
}
.audio__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.audio__btn {
  position: relative;
  color: #fff;
  margin-left: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.audio__btn::before {
  content: '';
  position: absolute;
  left: 45px;
  content: url(img/headphones.png);
}
@media (max-width: 600px) {
  .audio__img {
    width: 115px;
    height: 84px;
    top: 23px;
    left: 17px;
  }
  .audio__title {
    margin-left: 105px;
    margin-top: 0px;
    font-size: 18px;
    line-height: 22px;
    width: 136px;
  }
  .audio__subtitle {
    width: 150px;
    margin-left: 105px;
    margin-top: 0px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.03em;
  }
  .audio__header {
    flex-direction: column;
  }
  .audio__head-title {
    margin-right: 23px;
    margin-top: 2px;
  }
  .audio__head-subtitle {
    margin-top: 30px;
    margin-top: 34px;
    margin-right: 151px;
    font-size: 28px;
    line-height: 34px;
  }
  .audio__items {
    flex-direction: column;
  }
  .audio__text {
    display: none;
  }
  .audio__box {
    max-height: 243px;
    padding: 32px;
    margin: 0px auto 17px auto;
    border-radius: 30px;
    justify-content: space-between;
  }
  .audio__btn {
    margin-left: 20px;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all ease 0.4s;
  background-color: inherit;
  border-radius: 50px;
  z-index: 99999;
  box-shadow: 0px 30px 50px rgba(22, 67, 113, 0.17);
}
.modal__img {
  position: absolute;
  left: 70px;
  top: 70px;
  width: 472px;
  height: 248px;
}
.modal__img-el {
  position: absolute;
  left: 70px;
  top: 70px;
  width: 472px;
  height: 441px;
}
.modal__title-el {
  margin-top: 551px;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
}
.modal__box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px;
  width: 612px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0px 30px 50px rgba(22, 67, 113, 0.17);
}
.modal__title {
  margin-top: 358px;
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}
.modal__subtitle {
  text-align: center;
  margin-top: 14px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #b1a6a6;
}
.modal__textMargin {
  margin-top: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
}
.modal__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
}
.modal__btn {
  position: relative;
  color: #fff;
  margin: 40px auto 0 auto;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}
.modal__btn::before {
  content: '';
  position: absolute;
  left: 15px;
  content: url(img/arrow-down.png);
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
@media (max-width: 600px) {
  .modal {
    left: 55%;
  }
  .modal__box {
    width: 375px;
    padding: 34px;
  }
  .modal__img {
    height: 160px;
    width: 307px;
    top: 86px;
    left: 40px;
  }
  .modal__img-el {
    height: 286px;
    width: 307px;
    left: 30px;
  }
  .modal__title-el {
    margin-top: 400px;
    font-size: 28px;
    line-height: 34px;
  }
  .modal__title {
    font-size: 28px;
    line-height: 34px;
    margin-top: 279px;
  }
  .modal__subtitle {
    font-size: 24px;
    line-height: 29px;
  }
  .modal__textMargin {
    font-size: 16px;
    line-height: 19.5px;
    margin-top: 30px;
  }
  .modal__text {
    font-size: 16px;
    line-height: 19.5px;
  }
  .modal__btn {
    font-size: 13px;
    line-height: 16px;
    width: 220px;
  }
  .modal__btn:before {
    left: 15px;
  }
}
#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 200ms ease-in-out;
  pointer-events: none;
  z-index: 999;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
main {
  position: relative;
}
main.active {
  transition: 0.9s;
}
.books__header {
  display: flex;
  align-items: center;
  margin-top: 70px;
}
.books__header-subtitle {
  margin-left: 32px;
  font-size: 30px;
  line-height: 37px;
  font-weight: 600;
}
.books__items {
  margin-top: 40px;
}
.books__img {
  position: absolute;
  left: -7px;
  top: 32px;
}
.books__box {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 300px;
  margin-left: 20px;
  height: 870px !important;
  border-radius: 50px;
  background-color: #fff;
}
.books__title {
  margin-top: 316px;
  text-align: left;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.26px;
}
.books__subtitle {
  margin-top: 10px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #b1a6a6;
}
.books__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.books__btn {
  position: absolute;
  bottom: 40px;
  color: #fff;
  margin-left: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.books__btn-left {
  position: absolute;
  top: 352px;
  left: -84px;
}
.books__btn-right {
  position: absolute;
  top: 352px;
  right: -84px;
}
.books__btn::before {
  content: '';
  position: absolute;
  left: 45px;
  content: url(img/Vector.png);
}
@media (max-width: 600px) {
  .books__img {
    width: 118px;
    height: 118px;
    top: 32px;
    left: 7px;
  }
  .books__title {
    margin-left: 97px;
    margin-top: 5px;
    font-size: 18px;
    line-height: 22px;
    width: 165px;
  }
  .books__subtitle {
    width: 165px;
    margin-top: 15px;
    margin-left: 97px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.03em;
  }
  .books__header {
    flex-direction: column;
    margin-top: 25px;
  }
  .books__header-title {
    display: none;
  }
  .books__header-subtitle {
    margin-top: 30px;
    margin-left: 0;
    font-size: 28px;
    line-height: 34px;
  }
  .books__items {
    flex-direction: column;
  }
  .books__text {
    display: none;
  }
  .books__box {
    height: 247px !important;
    padding: 32px;
    border-radius: 30px;
    margin: 36px auto;
  }
  .books__btn {
    margin-left: 20px;
  }
}
.footer {
  margin-top: 63px;
  margin-bottom: 70px;
  position: relative;
  height: 155px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0px 30px 50px rgba(22, 67, 113, 0.17);
  display: flex;
}
.footer__item {
  margin-left: 24px;
}
.footer__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 24px;
}
.footer__text {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}
.footer__img {
  height: 75px;
  margin-left: 8px;
}
.footer__left {
  padding: 30px;
  width: 418px;
  height: 155px;
  align-items: center;
  background-color: #fed23e;
  border-radius: 50px;
  display: flex;
}
.footer__middle {
  margin-top: 42px;
  margin-left: 20px;
  width: 240px;
  font-size: 12px;
  line-height: 15px;
}
.footer__right {
  margin-top: 42px;
  margin-left: 30px;
}
.footer__addres {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
.footer__contact {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
.footer__link {
  margin-left: 15px;
}
.footer__text-min {
  display: none;
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    height: 438px;
    padding: 0 0 40px 0;
    margin-top: 86px;
  }
  .footer__img {
    height: 58px;
    margin-bottom: 50px;
  }
  .footer__left {
    width: 100%;
    height: 198px;
    padding: 40px;
    position: relative;
  }
  .footer__title {
    font-size: 28px;
    line-height: 29px;
    margin-bottom: 44px;
    color: #392c2c;
  }
  .footer__text {
    display: none;
  }
  .footer__text-min {
    display: block;
    position: absolute;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    top: 109px;
  }
  .footer__middle {
    margin-left: 40px;
  }
  .footer__addres {
    font-size: 15px;
    line-height: 18px;
  }
  .footer__contact {
    font-size: 15px;
    line-height: 18px;
  }
}
